# Xcode
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.playground
*.xcresult

# Fastlane / build
build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
.bundle/
vendor/bundle/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift PM
.build/
.swiftpm/
